<form *ngIf="!isAuthenticated()"
      #loginForm="ngForm"
      class="form-inline white-text">
	<div class="form-group">
		<label for="loginEmail">E-mail: </label>
		<input type="email"
		       class="form-control"
		       id="loginEmail"
		       name="loginEmail"
		       [(ngModel)]="loginModel.email"
		       maxlength="50"
		       placeholder="name@example.com"
		       required>
	</div>
	<div class="form-group">
		<label for="loginPassword">Password: </label>
		<input type="password"
		       class="form-control"
		       id="loginPassword"
		       name="loginPassword"
		       [(ngModel)]="loginModel.password"
		       minlength="8"
		       placeholder="********"
		       required>
	</div>

	<button (click)="authenticate()"
	        class="btn btn-outline-light"
	        type="button"
	        [disabled]="loginForm.invalid"
	        autofocus>Log in</button>

	<a routerLink="/Users/Registration"
	   routerLinkActive="active"
	   class="btn btn-outline-light indent-left">Sign up</a>
</form>

<form *ngIf="isAuthenticated()"
      class="form-inline">
	<span class="navbar-text">
		Welcome, {{ getUserFirstName() }}!
	</span>
	<button (click)="unauthenticate()"
	        class="btn btn-outline-light"
	        type="button">Log out</button>
</form>
