a.indent-left, span.indent-left {
	margin-left: 1rem;
}

div.btn-group .btn, button.btn {
	padding: .375rem;
}

div.btn-group-sm .btn, button.btn-sm {
	padding: .125rem .25rem;
}

div.card form button.btn, div.card form label, div.card table tr {
	font-size: .875rem;
}

div.card-body {
	padding-top: .75rem;
}

div.chart {
	border: .0625rem solid #CED4DA;
	padding-top: 1rem;
}

div.labeless {
	margin-top: 1.6875rem;
}

div.table-responsive {
	border-bottom: .0625rem solid #CED4DA;
	border-collapse: collapse;
	border-top: .0625rem solid #CED4DA;
	height: 25rem;
	margin-top: .25rem;
}

form.form-inline .form-group label {
	margin-right: .25rem;
}

form.form-inline .form-group, form.form-inline span {
	margin-right: 1rem;
}

form.white-text {
	color: #FFF;
}

hr.statistics-ruler {
	margin-bottom: 1.5rem;
}

input.ng-invalid:not(form) {
	border: .0625rem solid #A94442;
}

main.container {
	margin-bottom: .75rem;
}
