<form #userGroupCreateForm="ngForm">
	<div class="form-group">
		<label for="userGroupName">Group Name:</label>
		<input type="text"
		       class="form-control"
		       id="userGroupName"
		       name="userGroupName"
		       [(ngModel)]="userGroup.name"
		       maxlength="50"
		       placeholder="Home"
		       required
		       autofocus>
	</div>

	<table class="table table-bordered table-hover table-sm table-striped">
		<thead>
			<tr>
				<th style="width: 46%">E-mail:</th>
				<th style="width: 46%">Name:</th>
				<th style="width: 8%">
					<button (click)="addUser()"
					        type="button"
					        class="btn btn-block btn-primary btn-sm">
						<i class="fas fa-plus fa-fw"></i>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of userGroup.users; let i=index">
				<td>
					<div class="input-group"
					     style="margin-bottom: 0">
						<input type="email"
						       class="form-control"
						       name="userEmail-{{ i }}"
						       [(ngModel)]="user.email"
						       maxlength="50"
						       placeholder="name@example.com"
						       required>
						<div class="input-group-append">
							<button (click)="findUser(user.email)"
							        class="btn btn-primary"
							        type="button">
								<i class="fas fa-search fa-fw"></i>
							</button>
						</div>
					</div>
				</td>
				<td>
					<div class="form-group"
					     style="margin-bottom: 0">
						<input type="text"
						       class="form-control"
						       name="userName-{{ i }}"
						       [(ngModel)]="user.name"
						       maxlength="50"
						       required
						       [disabled]="true">
					</div>
				</td>
				<td>
					<button (click)="removeUser(i)"
					        class="btn btn-block btn-danger"
					        type="button">
						<i class="fas fa-ban fa-fw"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<button (click)="create()"
	        type="button"
	        class="btn btn-primary float-right"
	        [disabled]="userGroupCreateForm.invalid">Create</button>
</form>
